# Business Understanding

### Background: 
My company is planning to diversify its porfolio by extending to different markets. More specifically, my company is looking to invest in airplanes in order for their expansion to different markets to be successful.

### Business goals: 

This project is focusing on determining the risks of different aircrafts. Specifically, this project has the goal of identifying which aircrafts pose the least amount of potential risk. This information will be used in order to provide three recommendations to my company regarding the safest aircrafts to purchase. 

### Business success criteria: 

The success criteria for this project will be to provide three recommendations about the safest aircrafts that my company should invest in. For this project, the term "safest" refers to types of aircrafts with the least amount of crashes and the least number of casualties.

# Data Understanding

The National Transportation Safety Board (NTSB) collects data on aviation accidents and incidents that occur in the United States (which include its territories) as well as international waters. 

Each entry in the dataset represents an aircraft involved in an accident (or incident). For each aircraft there is a unique ID associated with the specific accident (or incident) the aircraft was involved in. Additional information is included about each entry, such as the accident (or incident) date, location, and number of injuries, as well as characteristics about the aircraft, such as the make, model, and number of engines.

## Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('AviationData.csv', encoding = 'latin-1')

/Users/chriskucewicz/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [6]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [7]:
df['FAR.Description'].value_counts()

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
125                                   5
Part 125: 20+ Pax,6000+ lbs           5
107                                   4
Public Aircraft                       2
103                                   2
Part 91F: Special Flt Ops.            1
437                                   1
Armed Forces                          1
Part 91 Subpart K: Fractional         1
Name: FAR.Description, dtype: int64

In [8]:
df['Air.carrier'].value_counts()

Pilot                     258
American Airlines          90
United Airlines            89
Delta Air Lines            53
SOUTHWEST AIRLINES CO      42
                         ...
Robert J. Juranich          1
Charles P. Riesselmann      1
Skypark Inc                 1
BANKS WES J                 1
Air Canada Jazz             1
Name: Air.carrier, Length: 13590, dtype: int64

In [9]:
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [10]:
#Creates a list of non-airplane aircraft categories
non_airplanes = list(df['Aircraft.Category'].value_counts()[1:].index)
non_airplanes

['Helicopter',
 'Glider',
 'Balloon',
 'Gyrocraft',
 'Weight-Shift',
 'Powered Parachute',
 'Ultralight',
 'Unknown',
 'WSFT',
 'Powered-Lift',
 'Blimp',
 'UNK',
 'ULTR',
 'Rocket']

In [11]:
#using lambda function to filter out any non-airplane labeled aircraft using the non-airplanes list
df = df.apply(lambda row: row[~df['Aircraft.Category'].isin(non_airplanes)])

In [12]:
df['Aircraft.Category'].value_counts()

Airplane    27617
Name: Aircraft.Category, dtype: int64

In [13]:
df['Aircraft.Category'].isna().sum()

56602

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84219 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                84219 non-null  object
 1   Investigation.Type      84219 non-null  object
 2   Accident.Number         84219 non-null  object
 3   Event.Date              84219 non-null  object
 4   Location                84169 non-null  object
 5   Country                 83998 non-null  object
 6   Latitude                30507 non-null  object
 7   Longitude               30499 non-null  object
 8   Airport.Code            48404 non-null  object
 9   Airport.Name            50867 non-null  object
 10  Injury.Severity         83289 non-null  object
 11  Aircraft.damage         81201 non-null  object
 12  Aircraft.Category       27617 non-null  object
 13  Registration.Number     82949 non-null  object
 14  Make                    84159 non-null  object
 15  Model                   84129 non-null  object
 16  Amateur.Built           84119 non-null  object
 17  Number.of.Engines       78838 non-null  float64
 18  Engine.Type             78456 non-null  object
 19  FAR.Description         27462 non-null  object
 20  Schedule                12084 non-null  object
 21  Purpose.of.flight       78736 non-null  object
 22  Air.carrier             14290 non-null  object
 23  Total.Fatal.Injuries    73364 non-null  float64
 24  Total.Serious.Injuries  72205 non-null  float64
 25  Total.Minor.Injuries    72740 non-null  float64
 26  Total.Uninjured         78487 non-null  float64
 27  Weather.Condition       80337 non-null  object
 28  Broad.phase.of.flight   60754 non-null  object
 29  Report.Status           78826 non-null  object
 30  Publication.Date        70638 non-null  object
dtypes: float64(5), object(26)
memory usage: 20.6+ MB

In [15]:
#Creates a new dataframe consisting only of professionally built airplanes
df_professional = df[(df['Amateur.Built'] == 'No')]
df_professional.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [16]:
df_professional.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76008 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                76008 non-null  object
 1   Investigation.Type      76008 non-null  object
 2   Accident.Number         76008 non-null  object
 3   Event.Date              76008 non-null  object
 4   Location                75962 non-null  object
 5   Country                 75793 non-null  object
 6   Latitude                26610 non-null  object
 7   Longitude               26605 non-null  object
 8   Airport.Code            43433 non-null  object
 9   Airport.Name            45695 non-null  object
 10  Injury.Severity         75079 non-null  object
 11  Aircraft.damage         73037 non-null  object
 12  Aircraft.Category       24417 non-null  object
 13  Registration.Number     74839 non-null  object
 14  Make                    75963 non-null  object
 15  Model                   75941 non-null  object
 16  Amateur.Built           76008 non-null  object
 17  Number.of.Engines       70984 non-null  float64
 18  Engine.Type             70611 non-null  object
 19  FAR.Description         24278 non-null  object
 20  Schedule                11785 non-null  object
 21  Purpose.of.flight       70637 non-null  object
 22  Air.carrier             13370 non-null  object
 23  Total.Fatal.Injuries    66350 non-null  float64
 24  Total.Serious.Injuries  65376 non-null  float64
 25  Total.Minor.Injuries    65867 non-null  float64
 26  Total.Uninjured         71286 non-null  float64
 27  Weather.Condition       72253 non-null  object
 28  Broad.phase.of.flight   55265 non-null  object
 29  Report.Status           70925 non-null  object
 30  Publication.Date        63346 non-null  object
dtypes: float64(5), object(26)
memory usage: 18.6+ MB

In [17]:
df_professional.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     46
Country                     215
Latitude                  49398
Longitude                 49403
Airport.Code              32575
Airport.Name              30313
Injury.Severity             929
Aircraft.damage            2971
Aircraft.Category         51591
Registration.Number        1169
Make                         45
Model                        67
Amateur.Built                 0
Number.of.Engines          5024
Engine.Type                5397
FAR.Description           51730
Schedule                  64223
Purpose.of.flight          5371
Air.carrier               62638
Total.Fatal.Injuries       9658
Total.Serious.Injuries    10632
Total.Minor.Injuries      10141
Total.Uninjured            4722
Weather.Condition          3755
Broad.phase.of.flight     20743
Report.Status              5083
Publication.Date          12662
dtype: int64

In [18]:
#Removes columns with more than 50% missing data
clean_df = df_professional.drop(['Latitude', 'Longitude', 'Aircraft.Category', 'FAR.Description', 'Air.carrier', 'Schedule'], axis = 1)

In [19]:
clean_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [20]:
print(clean_df['Location'][1][-2:])

CA

In [21]:
clean_df['Location'].apply(lambda row: row[-2:])

TypeError: 'float' object is not subscriptable

In [ ]:
clean_df

In [ ]:
#clean_df['Location'][0][-2:]

In [22]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76008 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                76008 non-null  object
 1   Investigation.Type      76008 non-null  object
 2   Accident.Number         76008 non-null  object
 3   Event.Date              76008 non-null  object
 4   Location                75962 non-null  object
 5   Country                 75793 non-null  object
 6   Airport.Code            43433 non-null  object
 7   Airport.Name            45695 non-null  object
 8   Injury.Severity         75079 non-null  object
 9   Aircraft.damage         73037 non-null  object
 10  Registration.Number     74839 non-null  object
 11  Make                    75963 non-null  object
 12  Model                   75941 non-null  object
 13  Amateur.Built           76008 non-null  object
 14  Number.of.Engines       70984 non-null  float64
 15  Engine.Type             70611 non-null  object
 16  Purpose.of.flight       70637 non-null  object
 17  Total.Fatal.Injuries    66350 non-null  float64
 18  Total.Serious.Injuries  65376 non-null  float64
 19  Total.Minor.Injuries    65867 non-null  float64
 20  Total.Uninjured         71286 non-null  float64
 21  Weather.Condition       72253 non-null  object
 22  Broad.phase.of.flight   55265 non-null  object
 23  Report.Status           70925 non-null  object
 24  Publication.Date        63346 non-null  object
dtypes: float64(5), object(20)
memory usage: 17.6+ MB

In [ ]:
clean_df.isna().sum()

In [ ]:
clean_df['Broad.phase.of.flight'].value_counts()

In [ ]:
clean_df['Total.Serious.Injuries'].value_counts()

In [ ]:
clean_df['Total.Fatal.Injuries'].value_counts()

# Exploratory Data Analysis

In [ ]:
clean_df.to_csv('aircraft_safety_cleaned.csv')

# Conclusions

## Limitations

## Recommendations

## Next Steps