# Business Understanding

### Background: 
My company is planning to diversify its porfolio by extending to different markets. More specifically, my company is looking to invest in airplanes in order for their expansion to different markets to be successful.

### Business goals: 

This project is focusing on determining the risks of different aircrafts. Specifically, this project has the goal of identifying which aircrafts pose the least amount of potential risk. This information will be used in order to provide three recommendations to my company regarding the safest aircrafts to purchase. 

### Business success criteria: 

The success criteria for this project will be to provide three recommendations about the safest aircrafts that my company should invest in. For this project, the term "safest" refers to types of aircrafts with the least amount of crashes and the least number of casualties.

# Data Understanding

The National Transportation Safety Board (NTSB) collects data on aviation accidents and incidents that occur in the United States (which include its territories) as well as international waters. 

Each entry in the dataset represents an aircraft involved in an accident (or incident). For each aircraft there is a unique ID associated with the specific accident (or incident) the aircraft was involved in. Additional information is included about each entry, such as the accident (or incident) date, location, and number of injuries, as well as characteristics about the aircraft, such as the make, model, and number of engines.

## Data Preparation

To prepare the data for analysis I began by examining the data type and number of NaN values in each column. 

* In the `Aircraft.Category` column there were categories besides airplanes. I removed all rows that included non-airplane aircraft, since the company is specifically looking to invest in airplanes. With `Aircraft.Category` only containing airplanes, I removed this column to avoid redundancy. 

* The `Amateur.Built` column provided information about whether each aircraft was built by an amatuer or not. For safety purposes, I decided that only professionally-built airplanes should be included in this analysis, so I removed all rows including amateur-built airplanes. Then, to avoid redundancy, I removed the `Amateur.Built` column since it then only included professionally built airplanes 

* From this point, I examined the total number of NaN values in each column using `df.isna().sum()`. Using this information, I removed the following columns because they contained around 50% or more NaN values: `Latitude`, `Longitude`, `FAR.Description`, `Air.Carrier`, and `Schedule`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('AviationData.csv', encoding = 'latin-1')

/Users/chriskucewicz/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.4453,-70.7583,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [6]:
#Creates a list of columns that have more than 45000 NaN values
half_nan_cols = list(df.columns[df.isna().sum() > 45000])
half_nan_cols

['Latitude',
 'Longitude',
 'Aircraft.Category',
 'FAR.Description',
 'Schedule',
 'Air.carrier']

In [7]:
#for loop prints the column name and .value_counts() for columns in half_nan_cols
for feature in half_nan_cols:
    print("----" + feature + "----")
    print()
    print(df[feature].value_counts())
    print()

----Latitude----

332739N      19
335219N      18
334118N      17
32.815556    17
039405N      16
             ..
34.750833     1
405730N       1
341336S       1
432647N       1
422235N       1
Name: Latitude, Length: 25592, dtype: int64

----Longitude----

0112457W       24
1114342W       18
-104.673056    17
1151140W       17
1114840W       16
               ..
-81.817778      1
1191639W        1
1065335W        1
-151.510556     1
1222025W        1
Name: Longitude, Length: 27156, dtype: int64

----Aircraft.Category----

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

----FAR.Description----

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
Public Aircraft                       2
103                                   2
Part 91 Subpart K: Fractional         1
437                                   1
Part 91F: Special Flt Ops.            1
Armed Forces                          1
Name: FAR.Description, dtype: int64

----Schedule----

NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

----Air.carrier----

Pilot                      258
American Airlines           90
United Airlines             89
Delta Air Lines             53
SOUTHWEST AIRLINES CO       42
                          ...
Flying Tiger Line            1
HEARTLAND AIR LLC            1
PT. Trigana Air Service      1
4821S Llc                    1
Stuart Seffern               1
Name: Air.carrier, Length: 13590, dtype: int64

In [8]:
#function that examines features with >50% NaN more closely 
#by printing the first ten entries and data types for each of these features

def examine_features(list_of_features):
    for feature in list_of_features:
        print("---" + feature + ' First 10 entries' + '---')
        print(df[feature].head(10))
        print()
        print(print("---" + feature + ' First 10 data types' + '---'))
        for entry in df[feature][:10]:
            print(type(entry))
        print('\n')

In [9]:
examine_features(half_nan_cols)

---Latitude First 10 entries---
0        NaN
1        NaN
2    36.9222
3        NaN
4        NaN
5    42.4453
6        NaN
7        NaN
8        NaN
9        NaN
Name: Latitude, dtype: object

---Latitude First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>


---Longitude First 10 entries---
0        NaN
1        NaN
2   -81.8781
3        NaN
4        NaN
5   -70.7583
6        NaN
7        NaN
8        NaN
9        NaN
Name: Longitude, dtype: object

---Longitude First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>


---Aircraft.Category First 10 entries---
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5    Airplane
6         NaN
7    Airplane
8    Airplane
9         NaN
Name: Aircraft.Category, dtype: object

---Aircraft.Category First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>


---FAR.Description First 10 entries---
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
5            Part 129: Foreign
6                          NaN
7    Part 91: General Aviation
8    Part 91: General Aviation
9                          NaN
Name: FAR.Description, dtype: object

---FAR.Description First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>


---Schedule First 10 entries---
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5    SCHD
6     NaN
7     NaN
8     NaN
9     NaN
Name: Schedule, dtype: object

---Schedule First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>


---Air.carrier First 10 entries---
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5    Air Canada
6           NaN
7           NaN
8           NaN
9           NaN
Name: Air.carrier, dtype: object

---Air.carrier First 10 data types---
None
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
#Removes columns Longitude, Latitude, FAR.Description, Schedule, and Air.Carrier
df_clean = df.drop(['Longitude', 'Latitude', 'FAR.Description', 'Schedule', 'Air.carrier'], axis = 1)

In [11]:
df_clean.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [12]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Code            50249 non-null  object
 7   Airport.Name            52790 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         85695 non-null  object
 10  Aircraft.Category       32287 non-null  object
 11  Registration.Number     87572 non-null  object
 12  Make                    88826 non-null  object
 13  Model                   88797 non-null  object
 14  Amateur.Built           88787 non-null  object
 15  Number.of.Engines       82805 non-null  float64
 16  Engine.Type             81812 non-null  object
 17  Purpose.of.flight       82697 non-null  object
 18  Total.Fatal.Injuries    77488 non-null  float64
 19  Total.Serious.Injuries  76379 non-null  float64
 20  Total.Minor.Injuries    76956 non-null  float64
 21  Total.Uninjured         82977 non-null  float64
 22  Weather.Condition       84397 non-null  object
 23  Broad.phase.of.flight   61724 non-null  object
 24  Report.Status           82508 non-null  object
 25  Publication.Date        75118 non-null  object
dtypes: float64(5), object(21)
memory usage: 17.6+ MB

In [13]:
df_clean.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
Purpose.of.flight          6192
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [14]:
#Creates a list of non-airplane aircraft categories
non_airplanes = list(df['Aircraft.Category'].value_counts()[1:].index)
non_airplanes

['Helicopter',
 'Glider',
 'Balloon',
 'Gyrocraft',
 'Weight-Shift',
 'Powered Parachute',
 'Ultralight',
 'Unknown',
 'WSFT',
 'Powered-Lift',
 'Blimp',
 'UNK',
 'Rocket',
 'ULTR']

In [15]:
#uses lambda function to filter out any non-airplane labeled aircraft using the non-airplanes list
df_clean = df_clean.apply(lambda row: row[~df_clean['Aircraft.Category'].isin(non_airplanes)])
df_clean.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84219 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                84219 non-null  object
 1   Investigation.Type      84219 non-null  object
 2   Accident.Number         84219 non-null  object
 3   Event.Date              84219 non-null  object
 4   Location                84169 non-null  object
 5   Country                 83998 non-null  object
 6   Airport.Code            48404 non-null  object
 7   Airport.Name            50867 non-null  object
 8   Injury.Severity         83289 non-null  object
 9   Aircraft.damage         81201 non-null  object
 10  Aircraft.Category       27617 non-null  object
 11  Registration.Number     82949 non-null  object
 12  Make                    84159 non-null  object
 13  Model                   84129 non-null  object
 14  Amateur.Built           84119 non-null  object
 15  Number.of.Engines       78838 non-null  float64
 16  Engine.Type             78456 non-null  object
 17  Purpose.of.flight       78736 non-null  object
 18  Total.Fatal.Injuries    73364 non-null  float64
 19  Total.Serious.Injuries  72205 non-null  float64
 20  Total.Minor.Injuries    72740 non-null  float64
 21  Total.Uninjured         78487 non-null  float64
 22  Weather.Condition       80337 non-null  object
 23  Broad.phase.of.flight   60754 non-null  object
 24  Report.Status           78826 non-null  object
 25  Publication.Date        70638 non-null  object
dtypes: float64(5), object(21)
memory usage: 17.3+ MB

In [17]:
df_clean = df_clean.drop(['Aircraft.Category'], axis = 1)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84219 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                84219 non-null  object
 1   Investigation.Type      84219 non-null  object
 2   Accident.Number         84219 non-null  object
 3   Event.Date              84219 non-null  object
 4   Location                84169 non-null  object
 5   Country                 83998 non-null  object
 6   Airport.Code            48404 non-null  object
 7   Airport.Name            50867 non-null  object
 8   Injury.Severity         83289 non-null  object
 9   Aircraft.damage         81201 non-null  object
 10  Registration.Number     82949 non-null  object
 11  Make                    84159 non-null  object
 12  Model                   84129 non-null  object
 13  Amateur.Built           84119 non-null  object
 14  Number.of.Engines       78838 non-null  float64
 15  Engine.Type             78456 non-null  object
 16  Purpose.of.flight       78736 non-null  object
 17  Total.Fatal.Injuries    73364 non-null  float64
 18  Total.Serious.Injuries  72205 non-null  float64
 19  Total.Minor.Injuries    72740 non-null  float64
 20  Total.Uninjured         78487 non-null  float64
 21  Weather.Condition       80337 non-null  object
 22  Broad.phase.of.flight   60754 non-null  object
 23  Report.Status           78826 non-null  object
 24  Publication.Date        70638 non-null  object
dtypes: float64(5), object(20)
memory usage: 16.7+ MB

In [18]:
df_clean['Amateur.Built'].value_counts()

No     76008
Yes     8111
Name: Amateur.Built, dtype: int64

In [19]:
df_clean[df_clean['Amateur.Built'] == 'No']

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [20]:
#Creates a new dataframe consisting only of professionally built airplanes
df_clean = df_clean[(df_clean['Amateur.Built'] == 'No')]
df_clean.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [21]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76008 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                76008 non-null  object
 1   Investigation.Type      76008 non-null  object
 2   Accident.Number         76008 non-null  object
 3   Event.Date              76008 non-null  object
 4   Location                75962 non-null  object
 5   Country                 75793 non-null  object
 6   Airport.Code            43433 non-null  object
 7   Airport.Name            45695 non-null  object
 8   Injury.Severity         75079 non-null  object
 9   Aircraft.damage         73037 non-null  object
 10  Registration.Number     74839 non-null  object
 11  Make                    75963 non-null  object
 12  Model                   75941 non-null  object
 13  Amateur.Built           76008 non-null  object
 14  Number.of.Engines       70984 non-null  float64
 15  Engine.Type             70611 non-null  object
 16  Purpose.of.flight       70637 non-null  object
 17  Total.Fatal.Injuries    66350 non-null  float64
 18  Total.Serious.Injuries  65376 non-null  float64
 19  Total.Minor.Injuries    65867 non-null  float64
 20  Total.Uninjured         71286 non-null  float64
 21  Weather.Condition       72253 non-null  object
 22  Broad.phase.of.flight   55265 non-null  object
 23  Report.Status           70925 non-null  object
 24  Publication.Date        63346 non-null  object
dtypes: float64(5), object(20)
memory usage: 15.1+ MB

In [22]:
df_clean['Amateur.Built'].value_counts()

No    76008
Name: Amateur.Built, dtype: int64

In [23]:
df_clean = df_clean.drop(['Amateur.Built'], axis = 1)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76008 entries, 0 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                76008 non-null  object
 1   Investigation.Type      76008 non-null  object
 2   Accident.Number         76008 non-null  object
 3   Event.Date              76008 non-null  object
 4   Location                75962 non-null  object
 5   Country                 75793 non-null  object
 6   Airport.Code            43433 non-null  object
 7   Airport.Name            45695 non-null  object
 8   Injury.Severity         75079 non-null  object
 9   Aircraft.damage         73037 non-null  object
 10  Registration.Number     74839 non-null  object
 11  Make                    75963 non-null  object
 12  Model                   75941 non-null  object
 13  Number.of.Engines       70984 non-null  float64
 14  Engine.Type             70611 non-null  object
 15  Purpose.of.flight       70637 non-null  object
 16  Total.Fatal.Injuries    66350 non-null  float64
 17  Total.Serious.Injuries  65376 non-null  float64
 18  Total.Minor.Injuries    65867 non-null  float64
 19  Total.Uninjured         71286 non-null  float64
 20  Weather.Condition       72253 non-null  object
 21  Broad.phase.of.flight   55265 non-null  object
 22  Report.Status           70925 non-null  object
 23  Publication.Date        63346 non-null  object
dtypes: float64(5), object(19)
memory usage: 14.5+ MB

In [25]:
df_clean.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     46
Country                     215
Airport.Code              32575
Airport.Name              30313
Injury.Severity             929
Aircraft.damage            2971
Registration.Number        1169
Make                         45
Model                        67
Number.of.Engines          5024
Engine.Type                5397
Purpose.of.flight          5371
Total.Fatal.Injuries       9658
Total.Serious.Injuries    10632
Total.Minor.Injuries      10141
Total.Uninjured            4722
Weather.Condition          3755
Broad.phase.of.flight     20743
Report.Status              5083
Publication.Date          12662
dtype: int64

In [27]:
cols_half_nans_clean_df = list(df_clean.columns[df_clean.isna().sum() > 30000])
cols_half_nans_clean_df

['Airport.Code', 'Airport.Name']

In [ ]:
type(clean_df['Event.Date'][2])

In [ ]:
#Convert event dates from string to pandas datetime datatype
clean_df['Event.Date'] = pd.to_datetime(clean_df['Event.Date'])

In [ ]:
type(clean_df['Event.Date'][2])

In [ ]:
#Creating a column for the day of the week for each event
clean_df['Event.Day'] = clean_df['Event.Date'].dt.day_name()

In [ ]:
clean_df.info()

In [ ]:
clean_df['Number.of.Engines'].isna().sum()

In [ ]:
clean_df['Number.of.Engines'].head(100)

In [ ]:
clean_df.info()

In [ ]:
clean_df['Make'][4]

In [ ]:
for entry in clean_df['Number.of.Engines'][:10]:
    print(type(entry))

In [ ]:
#Get the total number of rows that have valid data for the number of engines
clean_df['Number.of.Engines'].value_counts().sum()

In [ ]:
clean_df['Number.of.Engines'].value_counts()

In [ ]:
#find the probability of each category 
clean_df['Number.of.Engines'].value_counts(normalize = True)

In [ ]:
#creating a list of relative probabilities
relative_prob = [0.826031, 0.151555, 0.009636, 0.006776, 0.005973, 0.000014, 0.000014]

In [ ]:
real_probabilities = [i/sum(relative_prob) for i in relative_prob]

In [ ]:
#function randomly assigns a category to the NaN values based on real_probabilities
def assign_prob(value):
    for i in value:
        if value == 'NaN':
            return np.random.choice([1.0, 2.0, 0.0, 3.0, 4.0, 6.0, 8.0], p = real_probabilities)
        else:
            return value

In [ ]:
#Testing the assign_prob function on a small random vector first to see if it runs as intended
assign_prob([4, 2, 'NaN'])

In [ ]:
clean_df['Number.of.Engines'].apply(lambda x: assign_prob(x))

In [ ]:
clean_df.isna().sum()

In [ ]:
clean_df['Airport.Code'].value_counts()

In [ ]:
clean_df['Registration.Number'].value_counts()

In [ ]:
clean_df['Make'] = clean_df['Make'].astype(str)

In [ ]:
clean_df['Make'] = clean_df['Make'].map(lambda x: x.title())

In [ ]:
clean_df['Make'].value_counts()

# Exploratory Data Analysis

In [ ]:
clean_df.to_csv('aircraft_safety_cleaned.csv')

# Conclusions

## Limitations

## Recommendations

## Next Steps